---
- name: Ensure pip is at the latest version
  apt:
    name: python3-pip
    state: latest
    update_cache: yes
#sudo apt-get update; sudo apt-get install -yq build-essential python-pip rsync; pip #install flask
- name: install flask with pip
  pip: name=flask
- name: copying app file with playbook
  copy:
    src: app.py
    dest: $HOME/app.py
#- name: execute flaskstroy application, run my script!
 # command: python3 /home/masod_atc/app.py

- name: copy template systemd service config
  copy:
    src: .service
    dest: $HOME/flask.service
- name: Start Systemd Flask App Service 
  systemd: name=flask state=started 

     