---
- name: Ensure pip is at the latest version
  apt:
    name: python3-pip
    state: latest
    update_cache: yes
#sudo apt-get update; sudo apt-get install -yq build-essential python-pip rsync; pip install flask
# Install system apt packages
- name: install flask with pip
  pip: name=flask
- name: copying file with playbook
  copy:
    src: "/Users/masoudmoeini/Desktop/Terraform-Ansible-GCP-FlaskWebApplication/app.py"
    dest: "./home/masod_atc/app.py"
- name: execute flaskstroy application, run my script!
  command: python3 ./home/masod_atc/app.py

 #- name: install modules in a virtualenv
  #  pip: #requirements: /home/{{ ansible_ssh_user }}/{{ app_name }}/requirements.txt
     